<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER</title>
</head>
<body style = 'text-align: center; background-image: url("https://img.freepik.com/premium-photo/mix-berries-corner-composition-isolated-white-background_607094-135.jpg?w=2000");background-size: cover'>
<form action = '/perform_ner' method="post">
    <label><h2>Enter your text here for NAME ENTITY RECOGNITION</h2></label><br><br>
    <textarea rows = '10' cols = '50' name = 'text_for_ner'></textarea><br><br>
    <input type = 'submit' value = 'Perform NER' style = 'height: 40px; width: 180px; color: white; background-color: green'><BR><BR>

</form>
{% if result%}
<p>{{result}}</p>
{% endif %}



</body>
</html>