<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body align = 'center' style = 'background-image: url("https://e0.pxfuel.com/wallpapers/30/974/desktop-wallpaper-microsoft-windows-11-light.jpg"); background-size: cover'>
<h1> NLP Web Application</h1><br><br>
<h2> Select a Project</h2><br><br>
<h3>
    <ul>
    <li><a href = '/ner'>Name Entity Recognition (NER)</a></li><br><br>
    <li><a href = '/sentiment_analysis'>Sentiment Analysis</a></li><br><br>
    </ul>
</h3>

</body>
</html>