<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment Analysis</title>
</head>
<body style = 'text-align: center; background-image: url("https://cdn1.vectorstock.com/i/1000x1000/04/70/yellow-vintage-floral-background-for-your-design-vector-5010470.jpg")'>
<form action = '/perform_SA' method = 'post'>
    <h2>Enter text here for SENTIMENT ANALYSIS</h2><br><br>
    <textarea rows = '10' cols = '50' name = 'text_for_SA'></textarea><br><br>
    <input type = 'submit' value = 'Perform Sentiment Analysis' style = 'height: 50px; width: 170px; color: white; background-color: green'>
</form>
{% if result%}
<p>{{ result }}</p>
{% endif %}
</body>
</html>